@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}
main {
  margin: auto;
  box-shadow: 0 0 1em #00000040;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  overflow: clip;
  position: relative;
}
main > * {
  position: absolute;
}

button {
  box-shadow: 0 0.1em 0.1em #00000020;
  cursor: pointer;
  border: none;
  border-bottom: solid 0.3em #00000030;
  border-radius: 1000px;
  background-color: limegreen;
  padding: 0.75em 1.5em;
  user-select: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  transition: margin-top 0.1s, box-shadow 0.1s, border-bottom-width 0.1s, background-color 0.1s, scale 0.2s;
}
button:active, button.pressed {
  margin-top: 0.3em;
  box-shadow: none;
  border-bottom-width: 0;
}
@media (hover: hover) {
  button:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  button:active {
    scale: 1.1;
  }
}

#earth {
  top: 100%;
  left: 2.5%;
  scale: 0;
  width: 95%;
  height: 95%;
  padding: 1em;
}
#earth.enter-title {
  top: 2.5%;
  scale: 1;
  transition: top 0.75s, scale 0.75s;
}
#earth.leave-title {
  transition: top 0.75s cubic-bezier(.35,-0.57,.85,-0.05), scale 0.75s;
}
#earth.enter-game, #earth.leave-game {
  scale: 1;
  height: 30%;
}
#earth.enter-game {
  top: 90%;
  transition: top 1s;
}
#earth.leave-game {
  transition: top 0.75s cubic-bezier(.35,-0.57,.85,-0.05);
}
#earth > div {
  width: 100%;
  height: 100%;
  display: flex;
}
#earth canvas {
  filter: drop-shadow(0 0 1em dodgerblue);
}

#title-menu {
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
}
#title-menu.enter-title {
  top: 60%;
  transition: top 0.5s 0.5s;
}
#title-menu.leave-title {
  transition: top 0.5s cubic-bezier(.35,-0.57,.85,-0.05);
}
#title-menu.enter-title, #title-menu.leave-title {
  box-shadow: 0 0 0.5em #00000010;
}
#title-menu > div {
  height: 40%;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  left: 0;
  --height: 100%;
  top: calc(0px - var(--height));
  padding: 0.75em;
  user-select: none;
  text-shadow: 0 0.2em 0.05em #00000020, 0 0.15em #929292, 0 0 0.1em #00000080;
  font-weight: bold;
  color: white;
  transition: top 0.75s, scale 0.1s ease-in;
}
#score.enter-game {
  top: 0;
}
#score.changed {
  scale: 1.25;
  transition: scale 0.1s ease-out;
}
#score > div {
  cursor: pointer;
  font-size: 150%;
  transition: scale 0.2s;
}
#score.accuracy > div::after {
  content: '%';
}
@media (hover: hover) {
  #score > div:hover {
    scale: 1.1;
  }
  #score.pressed > div {
    scale: 1;
  }
}
@media (hover: none) {
  #score.pressed > div {
    scale: 1.1;
  }
}

#lang-select {
  right: 0;
  top: 0;
  margin: 0.75em;
  width: 1.75em;
  height: 1.75em;
  user-select: none;
}
#lang-select img, #lang-select select {
  position: absolute;
  width: 100%;
  height: 100%;
}
#lang-select img {
  box-shadow: 0 0 0.25em #00000020;
  border-radius: 50%;
  transition: scale 0.2s;
}
@media (hover: hover) {
  #lang-select:hover img {
    scale: 1.1;
  }
}
#lang-select select {
  opacity: 0;
  cursor: pointer;
}

#country {
  left: 2.5%;
  top: 100%;
  scale: 0;
  width: 95%;
  height: 47.5%;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#country.enter-game {
  top: 2.5%;
  scale: 1;
  transition: top 0.75s, scale 0.75s;
}
#country.leave-game {
  transition: top 0.75s ease-in, scale 0.75s;
}
#country img {
  filter: drop-shadow(0 0.1em 0.1em #00000020);
  max-width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2; /* Same as in render_countries.py */
  object-fit: contain;
}

#choices {
  left: 2.5%;
  top: 100%;
  scale: 0;
  width: 95%;
  height: 42.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#choices.enter-game {
  top: 55%;
  scale: 1;
  transition: top 0.75s, scale 0.75s;
}
#choices.leave-game {
  transition: top 0.75s ease-in, scale 0.75s;
}
#choices > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choices button {
  margin-bottom: 0.5em;
  background-color: gray;
}
#choices button:last-child {
  margin-bottom: 0;
}
#choices.revealed button {
  pointer-events: none;
}
#choices.revealed button.correct {
  background-color: limegreen;
}
#choices.revealed button.wrong {
  background-color: crimson;
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: #101010;
  }
  #title-menu {
    background-color: #181818;
  }
  #choices button {
    background-color: #606060;
  }
}
